@model List<ResultCarWithBrandsDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">Starter</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                            <li class="breadcrumb-item active">Starter</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araba Listesi</h4>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Marka</th>
                                        <th>Model</th>
                                        <th>Vites</th>
                                        <th>Km</th>
                                        <th>Güncelle</th>
                                        <th>Sil</th>
                                        <th>Detaylar</th>
                                        <th>Özellik Ata</th>
                                        <th>Sitede Gör</th>
                                        <th>Fiyat Bilgileri</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.brandName</td>
                                            <td>@item.model</td>
                                            <td>@item.transmission</td>
                                            <td>@item.km</td>
                                            <td><a href="/AdminCar/UpdateCar/@item.carId" class="btn btn-outline-info">Güncelle</a></td>
                                            <td><a href="/AdminCar/RemoveCar/@item.carId" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/Admin/AdminCarFeatureDetail/Index/@item.carId" class="btn btn-outline-dark">Detaylar</a></td>
                                            <td><a href="/Admin/AdminCarFeatureDetail/CreateFeatureByCarId/@item.carId" class="btn btn-outline-info">Özellik Ata</a></td>
                                            <td><a href="/AdminCar/Detail/@item.carId" class="btn btn-outline-warning">Sitede Gör</a></td>
                                            <td><a href="/AdminCar/Detail/@item.carId" class="btn btn-outline-secondary">Fiyat Bilgileri</a></td>
                                        </tr>
                                    }
                                    
                                </tbody>
                            </table>
                            <a href="/AdminCar/CreateCar" class="btn btn-outline-dark">Yeni Araç Girişi</a>
                        </div>

                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
            <!-- end col -->
            <!-- end col -->
        </div>
        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>
