@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<h1>Filtreleme Detayları</h1>

<br />
<br />
<br />
<br />
@ViewBag.book_pick_date
@ViewBag.book_off_date
@ViewBag.time_pick
@ViewBag.time_off
@ViewBag.locationId
<br />
<br />
<br />